html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  font-family: Helvetica, sans-serif;
}


.app-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  padding: 10px;
  background: #eee;
  color: #666;
}


.chat {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat li {
    padding: 10px;
    border: 10px;
    overflow: hidden;
    display: flex;
}

.nametag {
  margin-right: 10px;
  font-weight: bold;
}

.msg {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.response {
  display: flex;
  padding: 10px;
  background: #eee;
}

.response * {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1em;
}

.textarea {
  flex: 1;
}

.submitbtn {
  margin-left: 10px;
  font-weight: bold;
  background: rgb(0, 180, 100);
  color: #fff;
}