<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jokebot 1.0</title>
        <link rel="stylesheet" type="text/css" href="{% static 'jokebot/jokebot.css' %}">
    </head>
    <body>
        <div class="app-container">
            <div class="menu">
                <div class="appname">Jokebot 1.0</div>
            </div>
            <ol class = "chat">
            {% if message_list %}
                {% for message in message_list %}
                    {% if message.message_nametag == "you" %}
                        <li class="you">
                            <div class=msg>
                    {% else %}
                        <li class="jokebot">
                            <div class=msg>
                                <div class="nametag">{{ message.message_nametag }}</div>
                    {% endif %}
                                <p>{{ message.message_text }}</p>
                            </div>
                        </li>
                    {% endfor %}    
            {% endif %}
            </ol>
            <form class="response" action="{% url 'jokebot:submitMessage' %}" method="post">
              {% csrf_token %}  
              <input class="textarea" type="text" name="new_message" placeholder="Type here"/>
              <input class="submitbtn" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>